In [1]:
s = "GATTACA"

In [4]:
s[0]

'G'

In [5]:
s[6]

'A'

In [10]:
#s[7]  indexerror:out of range

s[-1]

'A'

In [7]:
s[-7]

'G'

In [8]:
s[1:3]

'AT'

In [9]:
s[:3]

'GAT'

In [2]:
s[1:]

'ATTACA'

In [3]:
s[:]

'GATTACA'

In [4]:
s[::2] #inc 2

'GTAA'

In [7]:
s[::3]

'GTA'

In [8]:
s[-2:2:-1]

'CAT'

In [38]:
s = "GATTACA"
s[-1:2:-2]   #-2 inc. slicing start from last -1and end at 2 pos from first

'AA'

In [14]:
s[-1:-6]

''

In [27]:
s[-7:-1]  #not accessed last element

'GATTAC'

In [39]:
#escape

s = "escape double qoute\" here"

In [40]:
s

'escape double qoute" here'

In [41]:
print(s)

escape double qoute" here

In [42]:
s = "escape backlash\\ here"

In [46]:
s           #backslah not removed

'escape backlash\\ here'

In [47]:
print(s)            #backslah removed

escape backlash\ here

In [50]:
s = "GATTACA"
len(s)

7

In [53]:
print("GAT","TACA")

GAT TACA

In [54]:
print("GAT" + "TACA")   #concatenation

GATTACA

In [56]:
s = "A"*10
s

'AAAAAAAAAA'

In [57]:
'G' in "GATTACA"

True

In [58]:
"GAT" in "GATTACA"

True

In [59]:
"AGT" in "GATTACA"

False

In [60]:
"GATTACA".find("TTA")  #subtring loaction

2

In [62]:
"GATTACA".count('T')

2

In [1]:
#Converting from/to strings


#"45" + 5  it will get typeError

int("45") + 5

50

In [2]:
"45" + str(5)

'455'

In [3]:
int("45"), str(5)

(45, '5')

In [5]:
type((int("45"), str(5)))

tuple

# tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [7]:
#valueError  int("2.345")

float("2.345")

2.345

In [8]:
#Strings cannot be modified
# They are immutable
# Instead, create a new one


s = "GATTACA"
# it will get type error
# s[3] = "c"

# use this

s = s[:3] + "C" + s[4:]
print(s)

GATCACA

## Some methods

In [9]:
"GATTACA".lower()

'gattaca'

In [10]:
'gattaca'.upper()

'GATTACA'

In [11]:
'GATTACA'.replace("T", "U")

'GAUUACA'

In [12]:
'GATTACA'.replace("AT","**")

'G**TACA'

In [14]:
'GATTACA'.startswith("G")

True

In [16]:
'GATTACA'.startswith("g")

False

In [19]:
#  sequence: ATGTATTGCATATCGT
seq = input("Enter a DNA sequence: ")

Enter a DNA sequence: ATGTATTGCATATCGT

In [20]:
seq.count("A")

4

In [21]:
"there are" + str(seq.count("A")) + "thymines"

'there are4thymines'

In [22]:
print("there are" , (seq.count("A")) , "thymines")

there are 4 thymines

In [23]:
"ATA" in seq

True

In [24]:
# Enter a subsequence to find: GCA
subsq = input("Enter a subsequence to find: ")

Enter a subsequence to find: GCA

In [25]:
subsq in seq

True

In [1]:
#assignment 4
# sq = ATTU*gtc

sq = input("Enter a Sequence: ")

bases = len(sq)
print("It is", len(sq), "long")

Enter a Sequence: ATTU*gtc
It is 8 long

In [4]:
adenine = sq.count("A") + sq.count("a")
thymine = sq.count("T") + sq.count("t")
cytosine = sq.count("C") + sq.count("c")
guanine = sq.count("G") + sq.count("g")
unknown = bases - (adenine + thymine + cytosine + guanine)
print("adenine: ",adenine)
print("thymine: ",thymine)
print("cytosine: ",cytosine)
print("guanine: ",guanine)
print("unknown: ",unknown)

adenine:  1
thymine:  3
cytosine:  1
guanine:  1
unknown:  2